$color-background-1: #ffcc00;
$color-background-2: #333;
$color-background-3: #feba01;
$color-neutral-light-1: #999;
$color-neutral-light-2: #bdbdbd;
$color-neutral-light-3: #666;
$color-neutral-light-pure: #fff;
$color-neutral-dark-1: #00000014;
$color-feedback-error-1: #fdeded;
$color-feedback-error-2: #ef5350;
$color-feedback-error-3: #5f2120;
$color-feedback-info-1: #e5f6fd;
$color-feedback-info-2: #03a9f4;
$color-feedback-info-3: #014361;
$color-feedback-success-1: #edf7ed;
$color-feedback-success-2: #4caf50;
$color-feedback-success-3: #1e4620;
$color-feedback-warning-1: #f39000;

$color-text-1: #333;
$color-text-2: #fff;
$color-text-3: #999;

$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;

$font-size-xs: 12px;
$font-size-sm: 14px;
$font-size-md: 16px;
$font-size-lg: 36px;
$font-size-xl: 48px;

$shadow-level-1: rgb(0 0 0 / 8%) 0px 2px 4px 0px;
