$color-header: #333;
$color-background-1: #ffcc00;
$color-neutral-light-1: #999;
$color-neutral-light-2: #666;
$color-neutral-light-pure: #fff;
$color-feedback-error-1: #fdeded;
$color-feedback-error-2: #ef5350;
$color-feedback-error-3: #5f2120;
$color-feedback-info-1: #e5f6fd;
$color-feedback-info-2: #03a9f4;
$color-feedback-info-3: #014361;
$color-feedback-success-1: #edf7ed;
$color-feedback-success-2: #4caf50;
$color-feedback-success-3: #1e4620;

$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;
