@import "../../styles/variables";

.header {
    height: 72px;
    background-color: $color-background-2;

    &__logo {
        width: 121px;
    }

    .search {
        flex: 1;

        &__input {
            width: 350px;
        }

        &__icon {
            position: absolute;
            height: 24px;
            width: 24px;
            color: $color-neutral-light-3;
            margin-left: 16px;
        }
    }
}
